.form {
  display: grid;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.addButton:hover,
.addButton:focus {
  background: var(--blue-600);
}

.cancelButton {
  background: transparent;
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.cancelButton:hover,
.cancelButton:focus {
  border-color: var(--red);
  color: var(--red);
}