main {
  display: grid;
  max-width: 46.875rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-weight: medium;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-900);
  margin: 1rem 0;
}

.searchWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.search {
  display: block;
  position: relative;
}

.search > input {
  width: 100%;
}

.searchWrapper > select:focus {
  box-shadow: 0 0 0 2px var(--blue-100);
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.searchIcon:hover,
.searchWrapper > select {
  cursor: pointer;
}

.searchWrapper > select {
  border-radius: 6px;
  background: var(--blue-500);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25rem;
  border: none;
  outline: none;
}

.pending {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--gray-400);
}

.pending span {
  color: var(--blue-700);
}

.tarefaItemWrapper {
  padding: 1rem 2rem;
  display: grid;
  gap: 0.875rem;
}

.buttons {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.addButton {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.addButton:hover,
.addButton:focus {
  background: var(--blue-600);
  box-shadow: 0 0 8px 0 var(--blue-400);
}

.addButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.removeAllButton {
  background: transparent;
  border: 1px solid var(--red);
  color: var(--red);
}

.removeAllButton:hover,
.removeAllButton:focus {
  background: var(--red);
  color: var(--white);
}